.home {
  display: flex;
  flex-direction: row;
}
.home__nav {
  flex: 0.2;
  margin-right: 5px;
  width: 220px;
}
.home__list {
  flex: 0.8;
  margin-left: 5px;
  margin: auto;
}

@media screen and (max-width: 899px) {
  .home__nav {
    flex: 0.1;
    width: 50px;
    border-right: 1px;
  }
  .home__list {
    flex: 0.9;
  }
}

@media screen and (max-width: 599px) {
  .home {
    display: flex;
    flex-direction: column-reverse;
  }
}