.home {
  display: flex;
  flex-direction: row;
}
.home__nav {
  margin-right: 1px;
  width: 220px;
}
.home__list {
  margin-left: 1px;
  margin: auto;
}

@media screen and (max-width: 899px) {
  .home__nav {
    width: 50px;
    border-right: 1px;
  }

}

@media screen and (max-width: 599px) {
  .home {
    display: flex;
    flex-direction: column-reverse;
  }

}