/* section {
    min-height: 100vh;
    padding: 5rem 9% 5rem;
    margin-top: 50px;
}

.skill {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: black;
} */

ul,
li {
    list-style: none;
}

.sc {
    margin: 50px auto;
    max-width: 960px;
    min-height: 100vh;
    padding: 5rem 9% 5rem;

    background: transparent;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    font-size: 20px;
}

.sc__sl {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    padding: 0px;
}

.c__skills {
    display: inline-flex;
    flex-direction: column;
    background: transparent;

    padding: 20px;
    height: max-content;
    margin: 10px 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.c__skills ul {
    margin: 0px;
    padding: 0px;
    display: inline-flex;
    flex-direction: column;
}

/* .container {
      max-width: 960px;
      margin: 20px auto;
      padding: 20px;
      background-color: #fff;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    } */
.skill__list {
    text-align: center;
    margin: 5px 0;
}

.c__skills li img {
    width: 95px;
    height: 95px;
}

.skill-name {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0;
}

.c__skills li:hover {
    transform: scale(1.1);
    /* 마우스 호버 시 요소 확대 */
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    /* 마우스 호버 시 그림자 효과 추가 */
}

@media screen and (max-width: 1080px) {
    .sc__sl {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 5px;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }

    .c__skills {
        display: inline-flex;
        flex-direction: column;
        box-sizing: border-box;
    }
}